<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="connString" connectionString="Data Source = DELLG5-5587-ADA; Initial Catalog = BasketballLeagueDB; Integrated Security = true;"/>
  </connectionStrings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <!--<appSettings>
    <add key="parentTable" value="Agent"/>
    <add key="parentTablePK" value="AgentID"/>
    <add key="childTable" value="BasketballPlayer"/>
    <add key="childTableFK" value="AgentID"/>
    <add key="parentTableQuery" value="SELECT * FROM Agent"/>
    <add key="childTableQuery" value="SELECT * FROM BasketballPlayer"/>
  </appSettings>-->

  <appSettings>
    <add key="parentTable" value="Team"/>
    <add key="parentTablePK" value="TeamID"/>
    <add key="childTable" value="BasketballPlayer"/>
    <add key="childTableFK" value="TeamID"/>
    <add key="parentTableQuery" value="SELECT * FROM Team"/>
    <add key="childTableQuery" value="SELECT * FROM BasketballPlayer"/>
  </appSettings>
</configuration>